<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>Titles</div>
    </div>
    <div class="page-title-actions">
      <label class="text-danger">Count : 10</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form  [formGroup]="formdata" (ngSubmit)="submit(formdata.value)" class="">
          <div class="position-relative form-group">
            <label class="">Title<span class="text-danger">*</span></label>
            <input placeholder="Title" type="text" formControlName="name" class="form-control">
            <em *ngIf="formdata.controls.name.touched && formdata.controls.name.invalid" class="error text-danger small">Please enter your firstname</em>
          </div>
          <input type="submit" [disabled]="formdata.invalid" class="mt-1 btn btn-primary" value="Save" />
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-12 mt-2">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th style="width:150px">Actions</th>
              <th style="width:80px">No</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let data of result; let i = index;">
              <td>
                <button (click)="edit(data.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary"><i
                    class=" pe-7s-tools lnr-delete btn-icon-wrapper"> </i></button>

                <button (click)="delete(data.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger"><i
                    class=" pe-7s-trash lnr-delete btn-icon-wrapper"> </i></button>
              </td>
              <td class="text-right">{{ i+1 }}</td>
              <td>{{data.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
